/*Affects whole site*/
* {
margin: 0px;
padding: 0px;
}
body {
overflow-x:hidden;
}
img {
max-width: 100%
}
.main {
margin-top: 30px;
}

/*paddingfix*/
.left-pads {
margin-left: 70px;
}
.pads {
padding-bottom: 50px;
}
.emptyspace {
margin-bottom: 5rem;
}

/*Nav Bar*/
.navbar {
margin-bottom: 0;
border-radius: 0;
background-color: rgb(56, 26, 36);
overflow: hidden;
position: fixed;
top: 0;
width: 100%;
}
.activey{
background-color: rgb(37, 18, 24);
}

/*Gallery*/
.gallery img {
width: 230px;
padding: 5px;
filter: grayscale(100%);
transition: 1s;
}
.gallery img:hover {
filter: grayscale(0%);
transform: scale(1.025);
}
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.imgcontain {
position: relative;
text-align: center;
color: white;
}

/*next n back*/
.nexbac a {
text-decoration: none;
display: inline-block;
padding: 8px 16px;
}
.nexbac a:hover {
background-color: #ddd;
color: black;
}
.Back {
background-color: #f1f1f1;
color: black;
}
.Next {
background-color: rgb(117, 16, 40);
color: white;
}
.nexbac {
margin-top: 40px;
}

/*Footer*/
footer {
background-color: rgb(56, 26, 36);
padding: 10px;
color: white;
font-family: 'Nunito Sans', sans-serif;
}

/*Font*/
.butter {
font-family: 'Nunito Sans', sans-serif;
}
.bigtitle {
font-size: 35px;
color: rgb(69, 15, 18);
}
.smalltitle {
font-size: 20px;
color: rgb(117, 16, 40);
}
p {
text-indent: 2rem; 
}
h4 {
text-align: center;
}